<div class="row mb-3">
  <div class="mx-auto">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">月份</button>
      <div class="dropdown-menu" aria-labelledby="dropdownButton">
        <a class="dropdown-item" href="#">1月</a>
        <a class="dropdown-item" href="#">2月</a>
        <a class="dropdown-item" href="#">3月</a>
        <a class="dropdown-item" href="#">4月</a>
        <a class="dropdown-item" href="#">5月</a>
        <a class="dropdown-item" href="#">6月</a>
        <a class="dropdown-item" href="#">7月</a>
        <a class="dropdown-item" href="#">8月</a>
        <a class="dropdown-item" href="#">9月</a>
        <a class="dropdown-item" href="#">10月</a>
        <a class="dropdown-item" href="#">11月</a>
        <a class="dropdown-item" href="#">11月</a>
      </div>
    </div>
  </div>

  <div class="mx-auto">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">類別</button>
      <div class="dropdown-menu" aria-labelledby="dropdownButton">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-2">
    <label for="name">總金額 :</label>
    <h1>{{totalAmount}}</h1>
  </div>
</div>

<ul class="list-group mb-3">
  {{#each records}}
  <li class="list-group-item mb-1">
    <div class="row">
      <div class="col-2">
        {{#switch this.category}}
        {{#case '家居物業'}} <i class="fas fa-home fa-5x"></i> {{/case}}
        {{#case '交通出行'}} <i class="fas fa-shuttle-van fa-5x"></i> {{/case}}
        {{#case '休閒娛樂'}} <i class="fas fa-grin-beam fa-5x"></i> {{/case}}
        {{#case '餐飲食品'}} <i class="fas fa-utensils fa-5x"></i> {{/case}}
        {{#case '其他'}} <i class="fas fa-pen fa-5x"></i> {{/case}}
        {{/switch}}
      </div>
      <div class="col-6">
        <p>{{{this.name}}}</p>
        <p>{{{this.date}}}</p>
      </div>
      <div class="col-2">
        <h5>{{{this.amount}}}</h5>
      </div>
      <div class="col-2">
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success btn-block">修改</a>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
          <button type="submit" class="btn btn-danger btn-block">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<a href="/records/new" class="btn btn-warning btn-block mb-5">新增支出</a>