<a href="/records/new" class="btn btn-primary mb-3">Create</a>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <h3 style="display: inline;">{{{this.category}}}</h3>
        <h3 style="display: inline;">{{{this.name}}}</h3>
        <h3 style="display: inline;">{{{this.date}}}</h3>
        <h3 style="display: inline;">{{{this.amount}}}</h3>
      </div>
      <div class="col-auto">
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success">edit</a>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>